<h1>Zmień hasło</h1>

<% form_for @user_temp, :url => password_reset_path, :method => :put do |f| %>
  <%= f.error_messages %>
  <%= f.label :'Hasło' %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :'Potwierdź hasło' %><br />
  <%= f.password_field :password_confirmation %><br />
  <br />
  <%= f.submit "Zmień hasło i zaloguj mnie" %>
<% end %>
