%h1 Edytuj punkt przełomowy (milestone)

- form_for :milestone, @milestone, :url => project_milestone_path(@project.id, @milestone.id), :html => { :method => :put } do |f|
  = f.error_messages

  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.label :description
    %br
    = f.text_area :description

  %p
    = f.label :'Data zamknięcia'
    = calendar_date_select_tag "milestone[date]", nil, :embedded => true, :time => false

  %p
    = f.label :'osoba odpowiedzialna'
    %br
    = f.collection_select(:user_id, @users, :id, :username)
  %p
    = f.submit 'Zapisz'

lub
= link_to 'Anuluj', project_milestones_path(@project.id)