%h1= @milestone.name

%p= @milestone.description
%br
Data zamknięcia:
= @milestone.date
%br
Ostatnio edytowane:
= @milestone.updated_at
%br
Osoba odpowiedzialna:
= User.find(@milestone.user_id).username
%br
Wersja:
= @milestone.version
%br
=link_to 'Edytuj', edit_project_milestone_path(@project.id, @milestone.id)
|
=link_to 'Usuń', project_milestone_path(@project.id, @milestone.id), :method => :delete, :confirm => 'Czy na pewno usunąć?'
