Poprzednie wersje:
%table
  %th Numer wersji
  %th Autor
  %th Data utworzenia
  %th Data zamknięcia
  - @milestone.versions.each do |ver|
    %tr
      %td= link_to ver.version, project_milestone_milestone_version_path(@project.id, @milestone.id, ver.version)
      %td= User.find(ver.user_id).username
      %td= ver.updated_at
      %td= ver.date
= link_to 'Wróć', project_milestone_path(@project.id, @milestone.id)