%h1 Nowa tablice

- form_for :writeboard, @writeboard, :url => project_writeboard_path(@project.id, @writeboard.id), :html => { :method => :put } do |f|
  = f.error_messages

  %p
    = f.label :title
    %br
    = f.text_field :title

  %p
    = f.label :content
    %br
    = f.text_area :content

  %p
    = f.submit 'Zapisz'

lub
= link_to 'Anuluj', project_writeboards_path(@project.id)